*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height:1.5;
}

a {
  color: turquoise;
  text-decoration: none;
}

a:active {
  color: white;
}

main a:hover {
  border-bottom: 2.5px solid #f44336;
}

header {
  width: 100%;
  height: 90px;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  position: relative;
}

footer {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 16px;
  position: fixed;
  bottom: 0;
}

.displayheader {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 15px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border: 1px solid #ccc;
}

.displayheader h1 {
  color:#f1f1f1;
  font-size: 1.5em;
}

nav::before, nav::after {
  content:"";
  display:table;
  clear:both;
}

nav {
  color:#000;
  font-weight: 600;
  background-color:#f1f1f1;
  display:inline-block;
  width: auto;
  position: absolute;
  left:50%;
  bottom:-43%;
  transform:translate(-50%,0%);
  -ms-transform:translate(-50%,0%);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

nav a {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  white-space: normal;
  color: #000;
}

nav a:hover {
  color: white;
  background-color: #f44336;
}

 nav a:active {
   background-color: darkturquoise;
 }

main {
  margin: 60px 20px;
}

main h1 {
  width: 100%;
  display: block;
  border-bottom: 3px solid black;
  font-size: 1.5em;
  padding: 4px 0;
}

.counter {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #f44336;
  padding: 16px;
  margin: 10px 0;
}

.counter b{
  color: black;
  border-bottom: 2px solid darkturquoise;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: turquoise;
  color: black;
  padding: 10px 16px;
  margin: 10px 0;
}

li b{
  font-size: 1.1em;
}

li a {
  color: #fff;
}

li a:hover {
  border-bottom: 2px solid #f44336;
}

small a {
  color: #f44336;
  border: none !important;
}

small button, small button:hover {
  color: #f44336;
  background-color: transparent;
  padding: 0;
}

li b a {
  color: black;
}

button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0;
}
button:hover {
  background-color: turquoise;
  color: white;
  border: 0;
}
